@tailwind base;
@tailwind components;
@tailwind utilities;
.tab-item {
  cursor: pointer;
  color: #000;
}

.tab-item:hover {
  color: #bb8506;
}

.tab-item-active {
  text-decoration: underline; /* Active background color */
  color: #bb8506; /* Active text color */
  font-weight: bold; /* Bold text for active tab */
}
/* Add this CSS in your external stylesheet (e.g., styles.css) */

.button-wrapper button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;

  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.button-wrapper button:hover,
.button-wrapper button:focus {
  color: white;
}

.button-wrapper button:hover::before,
.button-wrapper button:focus::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.button-wrapper button:active {
  transform: scale(0.9);
}
